{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block section %}
	{{form_start(formsearch)}}
	<div class="row py-4 container top mx-auto">
		<div class="col-3"></div>
		<div class="col-4">
			{{ form_row(formsearch.titleSearch)}}
		</div>
		<div class="col-2 searchInput">
			<button class="search ml-4">Rechercher</button>
		</div>
		<div class="col-3"></div>
		<hr class="w-50 mx-auto mt-3">
	</div>
	{{form_end(formsearch)}}


	<div class="container section">

		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-3" role="alert">{{ message }}</div>
		{% endfor %}

		<div class="row">
			{% for recipe in recipes %}
				<div class="col-4 mt-3">
					<div class="card mb-4">
						<div class="card-body">
							<h5 class="card-title text-center mb-2">

								<a href="{{ path('recipe_show', {id: recipe.id}) }}" class="title-recipe">{{ recipe.title }}</a>
							</h5>
							<div class="card-image my-3">
								<img src="{{ vich_uploader_asset(recipe, 'imageFile') | imagine_filter('thumb') }}" class="card-img-top img-recipe"/>
							</div>
							<div class="text-center">


								{% set sum = 0 %}
								{% set avg =0 %}
								{% if recipe.rating | length != 0 %}

									{% for vote in recipe.rating  %}
										{% set sum = sum + vote.note %}
									{% endfor %}
									{% set avg = sum / recipe.rating | length %}
								{% endif %}
								{{ avg| rating }}


							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
