{% extends 'base.html.twig' %}

{% block section %}
    <div class="section container p-5">
        {{ form_start(form)}}
            <div class="row font-weight-bold">
                <div class="col-6">
                 {{ form_row(form.title)}}
                </div>
                <div class="col-6">
                 {{ form_row(form.author)}}
                </div>
            </div>
            <div class="row font-weight-bold">
                <div class="col-3">
                    {{ form_row(form.imageFile) }}
                
                </div>
            </div>
                <div class="row font-weight-bold">
                    <div class="col-4">
                        {{ form_row(form.prepTime) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(form.cookTime) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(form.servings) }}
                    </div>
                </div>
            <div class="row font-weight-bold">
                <div class="col">
                    {{ form_row(form.steps) }}
                
                </div>
            </div>
            
            
            <div class="tags" data-prototype="<div class='row'>{{ form_widget(form.quantities.vars.prototype)|e('html_attr') }}</div>">
                
                {% for quantity in form.quantities %}
            
                    <div class="row font-weight-bold ingredients">
                            <div class="col-4">
                            
                                {{ form_row(quantity.ingredient)}}
                            
                            </div>
                            <div class="col-4">
                                {{ form_row(quantity.amount)}}
                            
                            </div>
                            <div class="col-4">
                                {{ form_row(quantity.symbol)}}
                            
                            </div>
                    </div>
                
                {% endfor %}
               

            </div>
             <button type="button" class="add_item_link btn btn-primary" data-collection-holder-class="tags">Ajouter un ingredient</button>
            {{form_widget(form)}}
                <div class="form-group mt-4 text-center">
                    <button class="btn btn-success">Valider</button>
                </div>

        {{ form_end(form, {'render_rest': false})}}
 
    </div>

  
 {% endblock %}

 