{% extends 'base.html.twig' %}

{% block title %}Détails{% endblock %}
{% block stylesheets %}
             <link rel="stylesheet" href="../styles/style.css"> 
{% endblock %}

{% block section %}
    <div class="section container p-5">
          
     <div class="details mx-auto p-5 shadow bg-white rounded"> 
            <div class="row">
                <div class="col text-center">
                    <h1 class="font-weight-bold">{{ recipe.title }}</h1>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6 text-left">
                {{ note.note| rating}}
                
                </div>
                <div class="col-6 text-right">
                    <p>Réalisée par: {{ recipe.author }}</p>
                </div>  
            </div>
                    
        
            <div class="row">
                <div class="col text-center">
                <img src="{{ vich_uploader_asset(recipe, 'imageFile') | imagine_filter('medium') }}" class="image_recipe rounded"/>
                </div>
            </div>
        <hr> 
            
                <div class="row pt-2">
                    <div class="col-4">
                       <p>Temps de préparation: {{ recipe.prepTime }}</p>
                    </div>
                    <div class="col-4">
                        <p>Temps de cuisson: {{ recipe.cookTime }}</p>
                    </div>
                    <div class="col-4">
                       <p>Nombre de personnes: {{ recipe.servings }}</p>
                    </div>
                </div>
       <hr> 

            <div class="row">
    
                <div class="col-4">
                    
                    <h4 class="text-warning font-weight-bold">Liste des ingrédients</h4>
                    <hr>
                    
                    {% for quantity in quantities %}
                        <div class="row">
                            <div class="col">
                                {{ quantity.name }}
                            
                            </div>
                            <div class="col">
                                {{ quantity.amount }} {{ quantity.symbol }}
                            
                            </div>
                        
                        </div>
                    {% endfor %}
                
                </div>
                <div class="col border-left border-warning">
                    
                    <h4 class="text-warning font-weight-bold">Etapes de préparation </h4>
                    <hr>
                    {{ recipe.steps }}
                
                                
                </div>
            
                
          

        
        </div> 
        <hr>
        <h2 class="text-center">Laisser un commentaire</h2>
        <hr> 
        {{ form_start(form)}}
        {{form_row(form.handle)}}
        {{ form_row(form.comment)}}
                {% block beelab_recaptcha2_widget -%}
                    <div class="g-recaptcha" data-sitekey="{{ "6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" }}" data-size="compact"></div>
                 {%- endblock %}
        <div class="form-group text-center">
            <button class="btn btn-primary">Poster votre commentaire</button>
        </div>
        {{ form_end(form)}} 
        <hr>
            {% for comment in comments %}
            <div class="media border p-3">
                <img src="../images/avatar.png" alt="pseudo" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                <div class="media-body">
                    <h4 class="font-weight-bold">{{ comment.handle| upper }}<small><i> Posté le: {{ comment.createdAt| date('d/m/Y')}}</i></small></h4>
                    <p>{{ comment.comment }}</p>
                </div>
            </div>
            {% endfor %}
      
            
    </div>

  
 {% endblock %}

 