{% extends 'base.html.twig' %}

{% block title %}Détails
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="../styles/style.css">
{% endblock %}

{% block section %}


<div class="section container p-5">

	{% for message in app.flashes('success') %}
		<div class="alert alert-success mb-3" role="alert">{{ message }}</div>
	{% endfor %}
	{% if app.user %}

		{% include 'profile-base.html.twig' %}
	{% endif %}

	<div class="recipe_id">{{ recipe.id }}</div>

	<div class="details mx-auto p-5 shadow bg-white rounded">
		<div class="row">
			<div class="col text-center">
				<h1 class="font-weight-bold steps">{{ recipe.title }}</h1>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-6 text-left">
				{% set sum = 0 %}
				{% set avg =0 %}
				{% if recipe.rating | length != 0 %}

					{% for vote in recipe.rating  %}
						{% set sum = sum + vote.note %}
					{% endfor %}
					{% set avg = sum / recipe.rating | length %}
				{% endif %}
				{{ avg| rating }}


			</div>
			<div class="col-6 text-right">
				<p>Réalisée par:
					{{ recipe.user.name }}</p>
			</div>
		</div>


		<div class="row">
			<div class="col text-center">
				<img src="{{ vich_uploader_asset(recipe, 'imageFile') | imagine_filter('medium') }}" class="image_recipe rounded"/>
			</div>
		</div>

		<div class="ingredient p-4 m-5">

			<div class="row pt-2">
				<div class="col-4">
					<p>Temps de préparation:
						{{ recipe.prepTime }}</p>
				</div>
				<div class="col-4">
					<p>Temps de cuisson:
						{{ recipe.cookTime }}</p>
				</div>
				<div class="col-4">
					<p>Nombre de personnes:
						{{ recipe.servings }}</p>
				</div>
			</div>
			<hr>

			<div class="row">

				<div class="col-4">

					<h4 class="steps font-weight-bold">Liste des ingrédients</h4>
					<hr>

					{% for q in recipe.quantities %}
						<div class="row">
							<div class="col">
								{{ q.ingredient.name }}

							</div>
							<div class="col">
								{{ q.amount }}
								{{ q.symbol }}

							</div>

						</div>
					{% endfor %}

				</div>
				<div class="col border-left border-warning">

					<h4 class="steps font-weight-bold">Etapes de préparation
					</h4>
					<hr>
					{{ recipe.steps }}


				</div>


			</div>
		</div>


		<div class="row bg-light p-4">
			<div class="col-5">
				<h2 class="text-center">Laisser un commentaire</h2>


			</div>
			<div class="col-4"></div>
			<div class="col-3 my-rating"></div>

		</div>

		<div class="shadow p-3 mb-5 mt-4 mx-auto bg-white rounded w-75 border border-secondary font-weight-bold">

			{{ form_start(form)}}
			{{form_row(form.handle)}}
			{{ form_row(form.comment)}}
			{% block beelab_recaptcha2_widget -%}
			<div class="g-recaptcha" data-sitekey="{{ "6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" }}" data-size="compact"></div>
		{%- endblock %}
		<div class="form-group text-center">
			<button class="btn btn-primary">Poster votre commentaire</button>
		</div>
		{{ form_end(form)}}


	</div>

	<hr>
	{% for comment in recipe.comments %}
		<div class="media border p-3">
			<img src="../images/avatar.png" alt="pseudo" class="mr-3 mt-3 rounded-circle" style="width:60px;">
			<div class="media-body">
				<h4 class="font-weight-bold">{{ comment.handle| upper }}<small>
						<i>
							Posté le:
							{{ comment.createdAt| date('d/m/Y')}}</i>
					</small>
				</h4>
				<p>{{ comment.comment }}</p>
			</div>
		</div>
	{% endfor %}


</div>{% endblock %}
