


{{ form_start(form) }}

<div class="row">
       
    <div class="col-4">
         {{ form_row(form.ingredient.name)}}
    </div>
    <div class="col-4">
         {{ form_row(form.amount)}}
    </div>

</div>

    {{ form_widget(form) }}
    
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
