{% extends 'base.html.twig' %}

{% block title %}Quantity index{% endblock %}

{% block body %}
    <h1>Quantity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Symbol</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quantity in quantities %}
            <tr>
                <td>{{ quantity.id }}</td>
                <td>{{ quantity.amount }}</td>
                <td>{{ quantity.symbol }}</td>
                <td>
                    <a href="{{ path('quantity_show', {'id': quantity.id}) }}">show</a>
                    <a href="{{ path('quantity_edit', {'id': quantity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('quantity_new') }}">Create new</a>
{% endblock %}
