<div class="container section px-0">


	<div class="header-menu w-100 py-5">
		<nav
			class="navbar navbar-expand-sm bg-light py-0">


			<!-- Links -->
			<ul class="navbar-nav nav-profil justify-content-around w-100">


				<li class="nav-item">
					<a class="nav-link" href="{{path('user_recipes')}}">Mes recettes ({{ app.user.recipes| length }})</a>


				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('recipe_new')}}">Nouvelle recette</a>

				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('ingredient_index')}}">Ajouter un ingrédient</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('user_account')}}">Mon compte</a>

				</li>

			</ul>

		</nav>


	</div>


</div>
