{% extends "base.html.twig" %}
{% block title %}Mon profil
{% endblock %}
{% block section %}
	{% include 'profile-base.html.twig' %}

	<div class="container section py-5">
		<div class="p-3">
			{% for message in app.flashes('message') %}
				<div class="alert alert-success mb-3" role="alert">{{ message }}</div>
			{% endfor %}

		</div>
		<div class="insert-form p-4 mx-auto w-75">
			<div class="mb-3,text-center">
				<h1 class="title">Profil de
					{{ app.user.name }}
					{{app.user.firstName}}</h1>


			</div>

			<div class="row mb-3">
				<div class="col-3">Prénom:</div>
				<div class="col">{{ app.user.name }}</div>

			</div>
			<div class="row mb-3">
				<div class="col-3">Nom:</div>
				<div class="col">{{ app.user.firstName }}</div>

			</div>
			<div class="row mb-3">
				<div class="col-3">Email:</div>
				<div class="col">{{ app.user.email }}</div>

			</div>
			<div class="row mb-3 p-2">
				<div class="col">
					<a href="{{path('edit_profile')}}" class="boutton">Modifier le profil</a>
				</div>
			</div>

			<div class="row mb-3 p-2">
				<div class="col">
					<a href="{{ path('edit_password')}}" class="boutton">Modifier le mot de passe</a>
				</div>
			</div>


		</div>

	</div>

{% endblock %}
